<h1>Welcome to Task List!</h1>
<h2>Please log in:</h2>

<section class="rows small-up-3 medium-up-4 large-up-4 large-offset-4">
  <p class="column">
    <%= link_to 'Log-in with Github', '/auth/github', class: 'button' %>
  </p>

</section>
